extends layout

block content
  h1= "Job Offer: " + job_listing.title
  h5 Posted By: #{author}
  hr
  h3
    p= job_listing.desc
  br
  h4
    p= job_listing.pay == " " || job_listing.pay == "" ? 'Pay: Not Disclosed' : 'Pay: ' + job_listing.pay
    <p></p>
    if (job_listing.address == "")
      p='Address: Not Disclosed'
    else
      p= 'Address: ' + job_listing.address
      #map
      script.
        function initMap(){
        var map = new google.maps.Map(document.getElementById('map'), {
        zoom:7,
        center:{lat:53.3811,lng:-1.4701} //Centers on Sheffield
        }); //Makes a new map

        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({
            "address": '#{job_listing.address}'
        }, function(results) {
            var marker = new google.maps.Marker({
              map:map,
              position: results[0].geometry.location
          });
        }); //Converts user address to point on map
        var infoWindow = new google.maps.InfoWindow();
        }
      script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAfVz0NDFENqAEJ4pZ68I10fKfeMNCWYZ0&callback=initMap')

  a.btn.btn-outline-light(href='/job_listings/', style='margin-right: 20px;') Back
  if user
    if user.id ==job_listing.author
      a.btn.btn-outline-info(href='/job_listings/edit/'+job_listing._id, style='margin-right: 5px;') Edit 
      a.btn.btn-outline-danger.delete-job_listing(href='#',data-id=job_listing._id) Delete